.Game{
    overflow:visible;
}
.Game img{
    max-height:200px;
    aspect-ratio: initial;
}

.Game button{
    padding: 6px;
    border: 2px black solid;
    cursor: pointer;
    margin-bottom: 6px;
}

.Game button:hover{
    color: white;
    font-weight: 700;
    background-color: #d12d36;
}

.myButton{
    cursor: pointer;
}

.myButton:disabled{
    cursor:default;
    color: gray;
    opacity: 40%;
}


.Game button:disabled{
    
    border: transparent;
    cursor:default;
    color: gray;
    opacity: 40%;
}

.displayCards{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 12px;
    justify-content: left;
    align-items: center;
    overflow: auto;

}

.background{
    min-height: 100vh;
    background-color: #35654d;
}

.background button{
    padding: 6px;
    border: 2px black solid;
    cursor: pointer;
    margin-bottom: 6px;
}

.background button:hover{
    color: white;
    font-weight: 700;
    background-color: #d12d36;
}

.submitMe{
    padding: 6px;
    border: 2px black solid;
    cursor: pointer;
    margin-bottom: 6px;
}

.submitMe:hover{
    color: white;
    font-weight: 700;
    background-color: #d12d36;
}

.betMe{
    padding: 6px;
    border: 2px black solid;
    cursor: text;
    margin-bottom: 6px;
}

.background{
    width: 100%;
    padding-inline-start: 12px;
    padding-top: 12px;
}

