.slidecontainer{
    display: inline-flex;
    width: 236px;

    background-color: rgb(40, 40, 40);
    padding: 1rem;
    border-radius: 50px;
    justify-content: center;
    border: 1px solid yellow;
    margin: 6px;

}

.percent{
    width: 41px;
    float: left;
    text-align: center;
    min-width: 4ch;
}

.sliderInput{
    
    width: 236;
}



